body {
    background-color: aquamarine;
    text-align: center; 
    color: purple;
}


ul {
    color: green;
    text-align: left;
    font-weight: bold;
}



.home {
    width: 250px;
    border: 1px solid black;
}